@model WatchShop.Models.Brand

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong>CREATE BRAND</strong>
            </div>
            <div class="card-body card-block">
                @*Name*@
                <div class="row form-group">
                    <div class="col col-md-3">
                        @Html.LabelFor(model => model.name, "Name", htmlAttributes: new { @class = " form-control-label", @for = "text-input" })
                    </div>
                    <div class="col-12 col-md-9">
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @id = "text-input", @placeholder = "Enter Name" } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary" style="margin-left: 25%;">
                        Create
                    </button>
                    <button type="reset" class="btn btn-danger ml-3">
                        @Html.ActionLink("Back to List", "Categories", "Admin")
                    </button>
                </div>

            </div>
        </div>
    </div>
}


@*<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Brand</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
