@model WatchShop.Models.Item

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="col-md-4" style="margin-left:30%;">
    <div class="card">
        <img class="card-img-top" src="@Html.DisplayFor(model => model.Image)" alt="Card image cap" style="border-radius: inherit;">
        <div class="card-body">
            <h4 class="card-title mb-3">@Html.DisplayFor(model => model.Name)</h4>

            <p class="card-text">
                <strong>Brand:</strong>
                @Html.DisplayFor(model => model.Brand.name)
            </p>
            <p class="card-text">
                <strong>Category:</strong>
                @Html.DisplayFor(model => model.Category.name)
            </p>
            <p class="card-text">
                <strong>Price:</strong>
                @Html.DisplayFor(model => model.Price)
            </p>
        </div>
        <div class="two-btn"">
            <button type="button" class="btn btn-primary" style="margin-left:10%; border-radius:5px;">
                @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
            </button>
            <button type="button" class="btn btn-danger" style="margin-left:10%; border-radius:5px;">@Html.ActionLink("Back to List", "Index","Item")</button>
        </div>

    </div>
</div>

